@import 'commons';

.app {
    flex-direction: column;
    min-height: 100vh;
    color: $lightColor;

    .main-header {
        padding: 25px;
        text-align: center;
        background: $primaryColor;
        color: #F2F0F2;
    }

    main {
        flex-grow: 1;
        background: $backgroundColor;
    }

    .main-footer {
        background: $primaryColor;

        .container {
            justify-content: flex-end;
            align-items: center;

            * {
                margin: 10px;
            }

            p {
                padding: 18px 0;
                text-align: right;
                font-style: italic;
                color: $lightColor;
            }
        }
    }

}
