@import 'commons';

.box {
  .score > span {
    font-weight: bold;
  }

  p {
    margin-bottom: 35px;
  }

  .btn {
    padding: 10px 25px;
    color: $lightColor;
    font-weight: bold;
    cursor: pointer;
  }

}
