@import 'commons.scss';

.main-footer {
    background: $primaryColor;

    .container {
        justify-content: flex-end;
        align-items: center;

        * {
            margin: 10px;
        }

        p {
            padding: 18px 0;
            text-align: right;
            font-style: italic;
            color: white;
        }

        a {
            svg {
                font-size: 150%;
                cursor: pointer;
            }
        }

    }
}
