@import 'commons.scss';

h2 {
    padding: 18px;
    text-align: center;
}

.stepper {
    width: 100%;
    flex-grow: 1;
    background: $backgroundColor !important;

    & > * {
        width: 100% !important;
        height: 10px;

        * {
            width: 100% !important;
        }
    }
}

