@import 'commons';

.form {
  background: $primaryColor;
  border-radius: 15px;
  margin: 15px auto;
  padding: 15px 10px;
  text-align: center;
  width: 400px;
  max-width: 90%;

  & > * {
    margin-bottom: 25px !important;
  }

  h2 {
    color: white;
    text-align: center;
  }

  .btn {
    margin: 20px auto 0;
    min-width: 140px;
    text-align: center;
  }
}
