@import 'commons.scss';

.question-box {
    &__title {
        margin-bottom: 15px;
        padding: 25px;
        font-weight: normal;
        background: $primaryColor;
        color: black;
        border-radius: 15px;
        box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.5);
        border: 2px outset $primaryColor;
    }

    &__btn {
        width: 100%;
        padding: 10px;
        cursor: pointer;
        font-weight: bold;
        border-radius: 10px;
        box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.5);
        outline: 0;

        &.answer-btn {
            margin-bottom: 15px;
            background: #BCD952;
            color: black;

            &.answer-btn:hover {
                background: #24bfa38a;
            }
        }

        &.confirm-btn {
            margin-top: 30px;
            background: #EBF21D;
            color: black;
            animation: intermittence 2s infinite 100ms; 
        }
        
        &.cancel-btn {
            margin-top: 10px;
            background: #f2961d;
            color: black;
        }
    }
}

@keyframes intermittence {
    0% {background: #EBF21D;}
    50% {background: #ebf21d67;}
    100% {background: #EBF21D;}
}

@include tablet {
    .question-box {
        margin: 0 auto;
        max-width: 350px;
    }
}
