@import 'commons';

.legend {
  color: white !important;
  margin-bottom: 10px;
}

.formControl {
  margin: 15px 0;
  color: white;
  display: flex !important;
  justify-content: center !important;
  text-align: center;
}

